@model eP.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductGroup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductGroup)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProntoPartNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProntoPartNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductManager)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductManager)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductComplianceSpecialist)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductComplianceSpecialist)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StandardReferenceNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StandardReferenceNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Regulation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Regulation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TestHouseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TestHouseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccreditationAgencyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccreditationAgencyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Licenses)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Licenses)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SupplierID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupplierID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
