@model eP.Models.Compliance

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Compliance</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ComplianceForm.FormName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComplianceForm.FormName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.subID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.level)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.level)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.grp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.grp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.order)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.order)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ComplianceID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
